---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="À propos | Pierre Melsens" description="à propos de Pierre Melsens">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="À propos de moi"
				tagline="Merci d'avoir visité mon portfolio. Pour en savoir plus sur mon profil, je vous invite a consulter mon CV ci-dessous."
			>
				<a href= "/assets/cv_pierre_melsens.pdf" target="_blank">
					<img
						width="1553"
						height="873"
						src="/assets/mockup-cv.png"
						alt="CV de Pierre Melsens"
					/>
				</a>
			</Hero>

			<section>
				<h2 class="section-title">En quelques mots</h2>
				<div class="content">
					<p class="paragraph">
						Je suis un expert en marketing et communication avec 10 années d'expérience en gestion de projets marketing et web. Au cours de ma carrière, 
						j'ai aidé des entreprises de toutes tailles à développer leur visibilité et à atteindre efficacement leur public cible. Au départ spécialisé 
						dans le marketing direct, j'ai rapidement évolué vers le digital. Je suis fier de mes réalisations en matière de création et refonte de sites 
						web, avec des résultats éloquents.

					</p>
					<p class="paragraph">
						➡️ En tant que chef de projet digital chez DSO Communication, j'ai créé et développé <a href="https://bestof-sarlat.com/">bestof-sarlat.com</a> avec WordPress, qui génère un trafic 
						moyen de 4 100 visiteurs par mois avec des pics à 12 000 visiteurs aux périodes stratégiques. Ce site permet à l’agence de gagner en visibilité 
						localement pour décrocher de nouveaux contrats.
					</p>
					<p class="paragraph">
						➡️ En tant que chargé de communication à l’Onaps, suite à la refonte du site internet, j’ai fait évoluer son trafic en multipliant sa 
						fréquentation par 7 en 1 an et sa couverture sur les réseaux sociaux par 17 !
					</p>
					<p class="paragraph">
						➡️ En tant que chargé de marketing chez ITANCIA, j'ai collaboré avec les équipes créatives pour concevoir une stratégie de marque réussie 
						pour la création de « Again ». ITANCIA est aujourd’hui le premier reconditionneur français.
					</p>
					<p class="paragraph">
						Mes nouvelles compétences de développeur web PHP // Symfony me permettent d’aller encore plus loin dans la gestion de projets web et d’appréhender des structures complexes.
					</p>
					<p class="paragraph">
						J'adore travailler avec des personnes passionnées et créatives pour développer et concrétiser des solutions innovantes.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Expérience professionnelle</h2>
				<div class="content">
					<h5 class="position">Chargé de communication <span>(externe, institutionnelle et digitale)</span></h5>
					<p class="company">Onaps (Observatoire national de l'activité physique et de la sédentarité)</br>
						& CROMS (Comité Régional des Offices Municipaux du Sport Auvergne-Rhône-Alpes)</p>
					<p class="date">Depuis novembre 2019</p>
					<ul>
						<li>Création et webmastering de sites internes (WordPress).</li>
						<li>Gestion de projets web pour des institutions (ARS et DRAJES).</li>
						<li>Digital : Community management, emailing, infographie.</li>
						<li>Print : Leaflets, affiches, rapports scientifiques, goodies.</li>
						<li>Création d'événements nationaux en lien avec le ministère des Sports
							et des JOP avec création de landing page et gestion des inscriptions.</li>
					</ul>
				</div>
			</section>
			<section>
				<div class="content">
					<h5 class="position">Chef de projet digital TPE - PME</h5>
					<p class="company">DSO Communication</p>
					<p class="date">mai 2018 - octobre 2019</p>
					<ul>
						<li>Création de sites web et boutiques e-commerce.</li>
						<li>Conseils en marketing digital et référencement web (SEO et SEM).</li>
						<li>Création d'outils de communication prints et web (affiches, leaflets,
							cartes de visites, bannières web, posts réseaux sociaux…).</li>
						<li>Community management, rédaction d’articles et de newsletters.</li>
					</ul>
				</div>
			</section>
			<section>
				<div class="content">
					<h5 class="position">Chargé de Marketing</h5>
					<p class="company">ITANCIA</p>
					<p class="date">octobre 2016 - avril 2018</p>
					<ul>
						<li>Chargé de la promotion de la marque Again (high-tech reconditionné)
							& gestion du plan Marketing (online et offline).</li>
						<li>Animation de marques constructeurs selon le plan marketing établi.</li>
					</ul>
				</div>
			</section>
			<section>
				<div class="content">
					<h5 class="position">Chef de publicité - comptes Automobile</h5>
					<p class="company">dps | Groupe Syneido</p>
					<p class="date">novembre 2014 - octobre 2016</p>
					<ul>
						<li>Gestion des budgets "Automobiles". Conception et déploiement des
							campagnes de marketing multicanal dans le respect de l’identité de la
							marque, des plannings et des budgets alloués.</li>
					</ul>
				</div>
			</section>
			<section>
				<h2 class="section-title">Formation professionnelle</h2>
				<div class="content">
					<h5 class="position">O’clock - école de développement web</h5>
					<p class="company">Développeur Web Symfony - 2023</p>
					<ul>
						<li>Socle PHP et Javascript.</li>
						<li>Spécialisation Symfony.</li>
					</ul>
				</div>
			</section>
			<section>
				<div class="content">
					<h5 class="position">ISEG, l'école du Digital, du Marketing et de la Communication</h5>
					<p class="company">Master marketing et communication - 2014</p>
				</div>
			</section>
			<section>
				<div class="content">
					<h5 class="position">ISEFAC Bachelor, école de Management et de Communication</h5>
					<p class="company">BTS Management des Unités Commerciales - 2011</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Compétences développement web</h2>
				<div class="content">
					<ul>
						<li>PHP - Symfony</li>
						<li>Git et GibHub</li>
						<li>SQL - MariaDB, adminer, phpMyAdmin</li>
						<li>Javascript - React.js en cours d'apprentissage</li>
						<li>WordPress - Divi by Elegant Theme</li>
						<li>CSS - Bootstrap et Tailwind</li>
						<li>Connaissance de Linux et LAMP (Apache, MySQL, PHP)</li>
					</ul>
				</div>
			</section>
		</section>
		<section>
			<h2 class="section-title">Compétences Marketing & Communication</h2>
			<div class="content">
				<ul>
					<li>SEO et rédaction web</li>
					<li>Adobe Illustrator, Indesign, Photoshop</li>
					<li>Emailing</li>
					<li>Gestion de projet</li>
					<li>Growth Hacking</li>
				</ul>
			</div>
		</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
